[Desktop Entry]
Type=Link
Name=Bodhi Linux
Icon=icon.png
Comment=Default Moksha profile for Bodhi Linux.<br>
Comment[fr]=Profil Moksha par défaut pour Bodhi Linux.<br>
