[Desktop Entry]
Type=Link
Name=Bodhi Linux
Icon=icon.png
Comment=Default Moksha profile for Bodhi Linux.<br>
Comment[fr]=Profil Moksha par défaut pour Bodhi Linux.<br>
Comment[pt]=Perfil Moksha por defeito para Bodhi Linux.<br>
Comment[sk]=Východzí Moksha profil pre Bodhi Linux.<br>
Comment[cs]=Výchozí Moksha profil pro Bodhi Linux.<br>
