[Desktop Entry]
Categories=Utility;TerminalEmulator;System;
Comment=Run commands in a shell
Comment[eo]=Lanĉi komandojn en ĉelo
Comment[es]=Ejecute comandos en una consola
Comment[fr]=Lancer des commandes dans le shell
Comment[gl]=Execute comandos nunha consola
Comment[it]=Esegue comandi in una shell
Comment[pt]=Execução de comandos na consola
Comment[ru]=Запуск команд в командной оболочке
Encoding=UTF-8
Exec=xterm
GenericName=Terminal
GenericName[eo]=Terminalo
GenericName[fr]=Console
GenericName[ru]=Терминал
Icon=xterm
Name=XTerm
Name[eo]=XTerm
Name[fr]=XTerm
StartupWMClass=XTerm
Type=Application
