[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Default
Name[ab]=默认
Name[cs]=Výchozí
Name[el]=Προκαθορισμένο
Name[eo]=Aprioro
Name[es]=Predefinido
Name[fr]=Prédéfini
Name[gl]=Predefinido
Name[hu]=Alapértelmezett
Name[it]=Predefinito
Name[ko]=기본
Name[pt]=Predefinições
Name[ru]=Заново
Name[tr]=Öntanımlı
Name[zh_CN]=默认
Comment=Select this to begin the initial setup again.
Comment[cs]=Vyberte pro znovuspuštění<br>tohoto průvodce.
Comment[el]=Επέλεξε αυτό για να <br>ξεκινήσεις την αρχική ρύθμιση ξανά.
Comment[eo]=Elektu ĉi tion por ekigi komencan agordadon.
Comment[es]=Seleccione esto para volver a la configuración inicial.
Comment[fr]=Sélectionnez ceci pour retrouver la configuration<br>par défaut et reprendre le paramétrage initial.
Comment[gl]=Seleccione isto para voltar á configuración inicial.
Comment[hu]=Válaszd ezt az alap<br>beállítáok megismétléséhez.
Comment[it]=Selezionare questo per riprendere la<br>configurazione iniziale.
Comment[ko]=초기 설정을 다시 하려면 이 부분을 선택하세요.
Comment[pt]=Escolha isto para executar novamente a configuração inicial
Comment[ru]=Выберите этот пункт, чтобы начать настройку сначала.
Comment[tr]=Açılış ayarlarına geri dönmek için bu profili seçin.
Comment[zh_CN]=点击这里重新进行初始化设置主题。
Icon=enlightenment-default
