[Desktop Entry]
Type=Link
Name=Scaleable
Name[it]=Scalabile
Icon=icon.png
Comment=The Standard setup, but<br>with automatic scaling<br>enabled to adapt to<br>the resolution of your<br>display, if it is set<br>correctly.
Comment[it]=La configurazione standard<br>ma con scalatura<br>automatica abilitata per<br>essere adattata alla<br>risoluzione del vostro<br>schermo se impostata<br>correttamente.
