[Desktop Entry]
Type=Link
Name=Scaleable
Icon=icon.png
Comment=The Standard setup, but<br>with automatic scaling<br>enabled to adapt to<br>the resolution of your<br>display, if it is set<br>correctly.
