[Desktop Entry]
Type=Link
Name=Scaleable
Name[cs]=Škálovatelný
Name[it]=Scalabile
Name[hu]=Kalibrálható
Name[fr]=Proportionnel
Name[el]=Κλιμακωτό
Name[eo]=Skalebla
Name[tr_TR]=Ölçeklenebilir
Name[zh_CN]=缩放
Name[pt]=Ajustada
Icon=icon.png
Comment=The Standard setup, but<br>with automatic scaling<br>enabled to adapt to<br>the resolution of your<br>display, if it is set<br>correctly.
Comment[cs]=Standartní nastavení, ale<br>s povoleným automatickým<br>škálováním, které se přizpůsobí<br>rozlišení vaší obrazovky,<br>pokud je nastaveno<br>správně.
Comment[it]=La configurazione<br>standard ma con<br>scalatura automatica<br>abilitata per essere<br>adattata alla<br>risoluzione del vostro<br>schermo se impostata<br>correttamente.
Comment[hu]=Az általános beállítás,<br>kiegészítve a kalibrációval,<br>amely automaikusan a képernyő<br>felbontásodhoz igazítja az<br>ablakok méretét.
Comment[fr]=La configuration standard, plus la mise à l'échelle activée pour<br>s'adapter automatiquement à la résolution de l'écran, si les<br>paramètres sont corrects.
Comment[el]=Η κανονική ρύθμιση αλλά<br>με αυτόματη αλλαγή μεγέθους<br>για να αλλάζει κλίμακα ανάλογα<br>με την ανάλυση της οθόνης σας.
Comment[eo]=La normala agordo, sed<br>kun aŭtomata skalado<br>ebligata por adapti al<br>la ekrandistingivo,<br>se difinita korekte.
Comment[tr_TR]=Standart kurulum, fakat<br>otomatik ölçekleme<br>aktif olarak gelir ve ekran çözünürlüğünüze göre<br>ölçekleme yapılır.
Comment[zh_CN]=标准设置主题，会自动进行缩放以适应不同的分辨率。
Comment[pt]=A configuração padrão, mas com<br>ajuste automático<br>para adaptar<br>a resolução do seu<br>ecrã, se definida<br>corretamente
