*.o
*.a
*.la
*.lo
Makefile
Makefile.in
.deps
.libs
*.gmo
*~
*.cfg
*.desktop
*.dirstamp
default.edj
/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.cache-env
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/data/etc/sysactions.conf
/data/themes/default.edj
/data/xsession/enlightenment.desktop
/depcomp
/doc/e.dox
/enlightenment.pc
/enlightenment.spec
/install-sh
/libtool
/ltmain.sh
/m4/codeset.m4
/m4/gettext.m4
/m4/glibc21.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/inttypes-pri.m4
/m4/inttypes.m4
/m4/inttypes_h.m4
/m4/isc-posix.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/nls.m4
/m4/po.m4
/m4/progtest.m4
/m4/stdint_h.m4
/m4/uintmax_t.m4
/m4/ulonglong.m4
/m4/glibc2.m4
/m4/intl.m4
/m4/intldir.m4
/m4/intlmacosx.m4
/m4/intmax.m4
/m4/lock.m4
/m4/longlong.m4
/m4/printf-posix.m4
/m4/size_max.m4
/m4/visibility.m4
/m4/wchar_t.m4
/m4/wint_t.m4
/m4/xsize.m4
/missing
/mkinstalldirs
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/enlightenment.pot
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
/src/bin/e_fm/enlightenment_fm
/src/bin/e_fm_shared_types.h
/src/bin/enlightenment
/src/bin/enlightenment_alert
/src/bin/enlightenment_backlight
/src/bin/enlightenment_fm_op
/src/bin/enlightenment_filemanager
/src/bin/enlightenment_imc
/src/bin/enlightenment_init
/src/bin/enlightenment_open
/src/bin/enlightenment_start
/src/bin/enlightenment_static_grabber
/src/bin/enlightenment_sys
/src/bin/enlightenment_thumb
/src/bin/enlightenment_open
/src/modules/*/module.desktop
/src/modules/battery/batget
/src/modules/cpufreq/freqset
/src/modules/everything/everything.pc
/src/modules/illume2/doc/illume.dox
/src/modules/temperature/tempget
/stamp-h1
/doc/Doxyfile
src/bin/enlightenment_open
src/modules/access/module.desktop
src/modules/backlight/module.desktop
src/modules/battery/module.desktop
src/modules/clock/module.desktop
src/modules/comp/module.desktop
src/modules/conf/module.desktop
src/modules/conf_applications/module.desktop
src/modules/conf_dialogs/module.desktop
src/modules/conf_display/module.desktop
src/modules/conf_edgebindings/module.desktop
src/modules/conf_interaction/module.desktop
src/modules/conf_intl/module.desktop
src/modules/conf_keybindings/module.desktop
src/modules/conf_menus/module.desktop
src/modules/conf_paths/module.desktop
src/modules/conf_performance/module.desktop
src/modules/conf_randr/module.desktop
src/modules/conf_shelves/module.desktop
src/modules/conf_theme/module.desktop
src/modules/conf_wallpaper2/module.desktop
src/modules/conf_window_manipulation/module.desktop
src/modules/conf_window_remembers/module.desktop
src/modules/connman/module.desktop
src/modules/cpufreq/module.desktop
src/modules/dropshadow/module.desktop
src/modules/everything/module.desktop
src/modules/fileman/module.desktop
src/modules/fileman_opinfo/module.desktop
src/modules/gadman/module.desktop
src/modules/ibar/module.desktop
src/modules/ibox/module.desktop
src/modules/illume-bluetooth/module.desktop
src/modules/illume-home-toggle/module.desktop
src/modules/illume-home/module.desktop
src/modules/illume-indicator/e-module-illume-indicator.edj
src/modules/illume-indicator/module.desktop
src/modules/illume-kbd-toggle/module.desktop
src/modules/illume-keyboard/e-module-illume-keyboard.edj
src/modules/illume-keyboard/module.desktop
src/modules/illume-mode-toggle/module.desktop
src/modules/illume-softkey/e-module-illume-softkey.edj
src/modules/illume-softkey/module.desktop
src/modules/illume2/e-module-illume2.edj
src/modules/illume2/module.desktop
src/modules/mixer/module.desktop
src/modules/msgbus/module.desktop
src/modules/notification/module.desktop
src/modules/ofono/module.desktop
src/modules/pager/module.desktop
src/modules/physics/module.desktop
src/modules/shot/module.desktop
src/modules/start/module.desktop
src/modules/syscon/module.desktop
src/modules/systray/module.desktop
src/modules/tasks/module.desktop
src/modules/temperature/module.desktop
src/modules/tiling/e-module-tiling.edj
src/modules/tiling/module.desktop
src/modules/winlist/module.desktop
src/modules/xkbswitch/module.desktop
