*.o
*.a
*.la
*.lo
Makefile
Makefile.in
.deps
.libs
*.gmo
*~
*.cfg
*.desktop
*.edj
/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.cache-env
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/data/etc/sysactions.conf
/data/themes/default.edj
/data/xsession/enlightenment.desktop
/depcomp
/doc/e.dox
/enlightenment.pc
/enlightenment.spec
/install-sh
/libtool
/ltmain.sh
/m4/codeset.m4
/m4/gettext.m4
/m4/glibc21.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/inttypes-pri.m4
/m4/inttypes.m4
/m4/inttypes_h.m4
/m4/isc-posix.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/nls.m4
/m4/po.m4
/m4/progtest.m4
/m4/stdint_h.m4
/m4/uintmax_t.m4
/m4/ulonglong.m4
/m4/glibc2.m4
/m4/intl.m4
/m4/intldir.m4
/m4/intlmacosx.m4
/m4/intmax.m4
/m4/lock.m4
/m4/longlong.m4
/m4/printf-posix.m4
/m4/size_max.m4
/m4/visibility.m4
/m4/wchar_t.m4
/m4/wint_t.m4
/m4/xsize.m4
/missing
/mkinstalldirs
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/enlightenment.pot
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
/src/bin/e_fm/enlightenment_fm
/src/bin/e_fm_shared_types.h
/src/bin/enlightenment
/src/bin/enlightenment_alert
/src/bin/enlightenment_backlight
/src/bin/enlightenment_fm_op
/src/bin/enlightenment_imc
/src/bin/enlightenment_init
/src/bin/enlightenment_start
/src/bin/enlightenment_sys
/src/bin/enlightenment_thumb
/src/modules/battery/batget
/src/modules/cpufreq/freqset
/src/modules/everything/everything.pc
/src/modules/illume2/doc/illume.dox
/src/modules/temperature/tempget
/stamp-h1
/doc/Doxyfile

