[Desktop Entry]
Type=Link
Name=Default
Name[ru]=Заново
Name[cs]=Výchozí
Name[it]=Predefinito
Name[hu]=Alapértelmezett
Name[fr]=Prédéfini
Name[el]=Προκαθορισμένο
Name[eo]=Pravaloroj
Name[zh_CN]=默认
Name[pt]=Omissões
Name[tr]=Öntanımlı
Icon=icon.png
Comment=Select this to begin the initial setup again.
Comment[ru]=Выберите это для<br>запуска инициализации настроек (сброс).
Comment[cs]=Vyberte pro znovuspuštění<br>tohoto průvodce.
Comment[it]=Selezionare questo per<br>riprendere la<br>configurazione iniziale.
Comment[hu]=Válaszd ezt az alap<br>beállítáok megismétléséhez.
Comment[fr]=Sélectionnez ceci pour retrouver la configuration<br>par défaut et reprendre le paramétrage initial.
Comment[el]=Επέλεξε αυτό για να <br>ξεκινήσεις την αρχική ρύθμιση ξανά.
Comment[eo]=Elektu tion por restartigi<br>la pravalorizan agordon.
Comment[zh_CN]=点击这里重新进行初始化设置主题。
Comment[pt]=Selecione isto para executar novamente a configuração inicial
Comment[tr]=Açılış ayarlarına geri dönmek için bu profili seçin.
