[Desktop Entry]
Type=Link
Name=Default
Name[it]=Predefinito
Icon=icon.png
Comment=Select this to begin<br>the initial setup again.
Comment[it]=Selezionare questo per<br>riprendere la<br>configurazione iniziale.
