[Desktop Entry]
Type=Link
Name=Default
Name[it]=Predefinito
Name[hu]=Alapértelmezett
Name[fr]=Prédéfini
Icon=icon.png
Comment=Select this to begin<br>the initial setup again.
Comment[it]=Selezionare questo per<br>riprendere la<br>configurazione iniziale.
Comment[hu]=Válaszd ezt az alap<br>beállítáok megismétléséhez.
Comment[fr]=Sélectionnez ceci pour recommencer<br>la configuration initiale.
