[Desktop Entry]
Type=Link
Name=Wayland Screenshot
Name[ca]=Wayland Capturador de pantalla
Name[eo]=Ekrankopiilo de Wayland
Name[es]=Wayland Capturador de pantalla
Name[fr]=Copie d'écran de Wayland
Name[gl]=Wayland Capturador de pantalla
Name[pt]=Wayland - Captura de ecrã
Comment=Moksha Wayland Screenshot Module
Comment[ca]=Mòdul de l'Moksha per a capturar la pantalla de Wayland
Comment[eo]=Modulo de Moksha por ekrankopii en Wayland
Comment[es]=Módulo de Moksha para capturar la pantalla en Wayland
Comment[fr]=Module de capture d'écran Wayland pour Moksha
Comment[gl]=Módulo de Moksha para capturar a pantalla en Wayland
Comment[it]=Modulo di Moksha per screenshot in Wayland
Comment[pt]=Módulo de captura de ecrã
Icon=e-module-wl_screenshot.edj
X-Enlightenment-ModuleType=look
