[Desktop Entry]
Type=Link
Name=Minimalist
Icon=icon.png
Comment=A mininimalist setup<br>with very few things on<br>the screen. Should<br>appeal to Those<br>that like as little<br>clutter as possible.
