[Desktop Entry]
Type=Link
Name=Minimalist
Name[it]=Minimalista
Icon=icon.png
Comment=A mininimalist setup<br>with very few things on<br>the screen. Should<br>appeal to Those<br>that like as little<br>clutter as possible.
Comment[it]=Configurazione minima<br>con pochissime cose sullo<br>schermo. Dovrebbe<br>piacere a chi<br>desidera avere meno<br>roba possibile.
