[Desktop Entry]
Type=Link
Name=Minimalist
Name[it]=Minimalista
Name[hu]=Minimalista
Icon=icon.png
Comment=A mininimalist setup<br>with very few things on<br>the screen. Should<br>appeal to Those<br>that like as little<br>clutter as possible.
Comment[it]=Configurazione minima<br>con pochissime cose<br>sullo schermo.<br>Dovrebbe piacere a chi<br>desidera avere meno<br>roba possibile.
Comment[hu]=Minimalist beállítások<br>néhány dologgal<br>a képernyőn. Ez egy <br>teljesen alap beállítás.