[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Window Manipulation
Name[ca]=Manipulació de finestres
Name[cs]=Manipulace s okny
Name[eo]=Manipulado de fenestroj
Name[es]=Manipulación de ventanas
Name[fr]=Manipulation des fenêtres
Name[gl]=Manipulación de xanelas
Name[hu]=Ablak műveletek
Name[it]=Manipolazione finestre
Name[pt]=Manipulação de janelas
Name[ru]=Манипуляции с окном
Name[tr]=Pencere Manipülasyonu
Comment=Configures window raise, resistance, and maximize policies.
Comment[ca]=Configura les regles per a la pujada, la resistència i la maximització de les finestres.
Comment[cs]=Nasavení odolnosti okna, maximalizace aj.
Comment[eo]=Agordi fenestrajn altigon, rezistadon kaj maksimumajn tiparojn.
Comment[es]=Configura las reglas para la subida, resistencia y maximización de las ventanas.
Comment[fr]=Paramétrage de l'empilement, de la résistance, et de la politique de maximisation des fenêtres.
Comment[gl]=Configura as reglas para a elevación, resistencia e maximización das xanelas.
Comment[hu]=Ablak átméretezést, áthelyezést, maximálizálást beállító modul.
Comment[it]=Configura le regole per l'elevazione, la resistenza e la massimizzazione delle finestre.
Comment[pt]=Configurar políticas de maximização, resistência e aparecimento das janelas
Comment[ru]=Позволяет настроить политику подъема, сопротивления и увеличения окон.
Comment[tr]=Pencere yükseltmesi, direnci ve ekranı kaplama kurallarını yapılandırır.
Icon=e-module-conf_winmanip
X-Enlightenment-ModuleType=settings
