[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Start
Name[ca]=Inici
Name[cs]=Start menu
Name[de]=Startmenü
Name[el]=Μενού εκκίνησης
Name[eo]=Starto
Name[es]=Inicio
Name[fr]=Démarrer
Name[gl]=Inicio
Name[hu]=Start menü
Name[pt]=Iniciar
Name[ru]=Меню запуска
Name[tr]=Başlat
Comment=Enlightenment's "Start" button equivalent.
Comment[ca]=L'equivalent al botó "Inici" a l'Enlightenment.
Comment[cs]=Enlightenment Start menu.
Comment[de]=Startmenü in Enlightenment.
Comment[el]=Το κουμπί για το μενού εκκίνησης του Enlightenment.
Comment[eo]=Ekvivalenta "starto"-butono por Enlightenment.
Comment[es]=El equivalente al botón "Inicio" en Enlightenment.
Comment[fr]=La version Enlightenment du menu de démarrage.
Comment[gl]=O equivalente ó botón "Inicio" en Enlightenment.
Comment[hu]=Enlightenment Start menü gombja.
Comment[it]=L'equivalente del bottone "Avvio" in Enlightenment.
Comment[pt]=O equivalente ao botão "Iniciar" do Windows
Comment[ru]=Эквивалент кнопки "Пуск" для Enlightenment.
Comment[tr]=Enlightenment'nin "Başlat" düğmesi eşdeğeri.
Icon=e-module-start
X-Enlightenment-ModuleType=utils
