[Desktop Entry]
Type=Link
Name=Mobile
Name[fr]=Écran tactile
Name[pt]=Ecrã tátil
Name[ko]=터치스크린
Icon=enlightenment-mobile
Comment=EXPERIMENTAL!<br>Configuration set up to work best with touchscreen<br>phones, tablets and similar devices.
Comment[fr]=EXPÉRIMENTAL !<br>Configuration adaptée aux écrans tactiles<br>des téléphones, tablettes et apparentés.
Comment[it]=SPERIMENTALE!<br>Configurazione adatta per l'uso in smartphone<br>con interfaccia tattile, tablets e similari.
Comment[pt]=EXPERIMENTAL!<br>Configuração de ecrãs táteis como os dos telefones, tablets e similares.
Comment[ko]=실험 단계중!<br>터치스크린 기반의 휴대폰, 태블릿 등과 같은 장치에 맞는 설정.
