[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Illume-Home-Toggle
Name[eo]=Baskulilo de hejmo Illume
Icon=e-module-illume-home-toggle
X-Enlightenment-ModuleType=mobile
