[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Window Remembers
Name[ca]=Memòria de les finestres
Name[cs]=Paměť
Name[eo]=Fenestraj memoroj
Name[es]=Recordatorio de ventanas
Name[fr]=Mémorisations des fenêtres
Name[gl]=Recordatorio de xanelas
Name[hu]=Ablak emlékek
Name[it]=Ricordi finestre
Name[pt]=Memorização de janelas
Name[ru]=Запоминание окон
Name[sr]=Памћење прозора
Name[tr]=Pencere Hatırlamaları
Comment=Delete existing window remembers.
Comment[ca]=Elimina l'opció de recordar de les finestres.
Comment[cs]=K vymazání existujících zapamatovaných vlastností oken.
Comment[eo]=Forviŝas fenestrajn memorojn.
Comment[es]=Eliminar la opción de recordar ventanas.
Comment[fr]=Permet d'effacer les mémorisations.
Comment[gl]=Eliminar a opción de lembrar xanelas.
Comment[hu]=Meglévő ablak emlékek törlése.
Comment[it]=Rimuove le impostazioni da ricordare delle finestre.
Comment[pt]=Apagar memorização das janelas
Comment[ru]=Удаление запомненных настроек окон.
Comment[sr]=Брише сачуване упамћене прозоре
Comment[tr]=Mevcut pencere hatırlamalarını sil.
Icon=e-module-conf_window_remembers
X-Enlightenment-ModuleType=settings
