[Desktop Entry]
Type=Link
Name=Netbook
Name[ru]=Netbook
Name[el]=Netbook
Name[eo]=Komputileto
Name[ja]=ネットブック
Name[tr_TR]=Netbook
Name[zh_CN]=上网本
Name[pt]=Mini-portátil
Icon=icon.png
Comment=If you have a very<br>small, low-powered laptop<br>(also known as Netbooks),<br>then this profile is for<br>you. It has heavier<br>features turned off<br>to save resources.
Comment[ru]=Если у Вас небольшой,<br>маломощный ноутбук<br>(так же Netbook, Недобук),<br>тогда этот профиль для вас.<br>Все тяжелые элементы<br>отключены для сбережения<br>ресурсов системы.
Comment[cs]=Pokud máte malý<br>laptop s nízkou spotřebou<br>(známé jako Netbooky),<br>pak je tento profil<br>pro vás. Má náročnější<br>funkce vypnuty,<br>aby se ušetřily systémové prostředky.
Comment[it]=Se avete un portatile molto piccolo e con<br>poca potenza (noti anche come Netbook),<br>allora questo profilo fa per voi.<br>In questo sono state disattivate le<br>funzionalità più pesanti per<br>risparmiare risorse.
Comment[hu]=Ha egy kicsi erőforrással<br> bíró eszközöd van, laptop,<br>akkor ez a számodra<brylegmegfelelőbb beállítás.<br>Kevés erőforrást igényel.
Comment[fr]=Si vous avez un ordinateur portable de petites<br>dimensions et de faible puissance du type<br>mini-portable, c'est le profil approprié.<br>Les fonctionnalités les plus gourmandes<br>en ressources sont désactivées.
Comment[el]=Αν έχετε ένα πολύ<br>μικρό, χαμηλής κατανάλωσης laptop<br>(γνωστά και ως Netbooks),<br>τότε αυτό το προφίλ είναι για εσάς.<br>Έχει απενεργοποιημένα τα "βαριά"<br>χαρακτηριστικά για να λειτουργεί<br> πιο γρήγορα.
Comment[eo]=Se vi havas malgrandegan,<br>malaltpotencan tekokomputilo<br>(ankaŭ nomata komputileto),<br>do tiu profilo estas taŭga por<br>vi. Ĝia plej pezaj eblecoj<br>estas malŝaltitaj.
Comment[ja]=非力なラップトップ（別名ネットブック）をお使いなら、<br>このプロファイルを利用してください。<br>処理の重い機能を無効にしてリソースを節約しています。
Comment[tr_TR]=Eğer düşük güçlü bir donanıma sahipseniz (Netbook mesela)<br>, o zaman bu seçenek size göre.<br>Bu seçenekte fazla güç tüketen özellikler,<br>kaynakları korumak adına kapatılmıştır.
Comment[zh_CN]=为上网本设计的设置主题，关闭许多特性以节约资源。
Comment[pt]=Se você possui um pequeno portátil, também conhecido como netbook, este é o perfil ideal para si.<br>Tem as funcionalidades mais intensas desligadas de modo a poupar recursos
