[Desktop Entry]
Type=Link
Name=Netbook
Icon=icon.png
Comment=If you have a very<br>small, low-powered laptop<br>(also known as Netbooks),<br>then this profile is for<br>you. It has heavier<br>features turned off<br>to save resources.
Comment[it]=Se avete un portatile<br>molto piccolo e con<br>poca potenza (noti<br>anche come Netbook),<br>allora questo profilo<br>fa per voi.<br>In questo sono state<br>disattivate le<br>funzionalità più<br>pesanti per<br>risparmiare risorse.
