[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Wayland Shell
Name[eo]=Ĉelo de Wayland
Name[fr]=Shell Wayland
Comment=Moksha Wayland Shell
Comment[ca]=Shell de l'Moksha per a Wayland
Comment[eo]=Ĉelo de Moksha por Wayland
Comment[fr]=Shell Wayland pour Moksha
Comment[it]=Shell di Moksha per Wayland
Icon=e-module-wl_shell
X-Enlightenment-ModuleType=look
