[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Temperature
Name[ca]=Temperatura
Name[cs]=Teplota
Name[de]=Temperatur
Name[eo]=Temperaturo
Name[es]=Temperatura
Name[fr]=Température
Name[gl]=Temperatura
Name[hu]=Hőmérséklet
Name[pt]=Temperatura
Name[ru]=Температура
Name[sr]=Топлота
Name[tr]=Sıcaklık
Comment=Temperature monitor.
Comment[ca]=Monitor de la temperatura.
Comment[cs]=Měřič teploty.
Comment[de]=Temperaturmonitor.
Comment[eo]=Elrigardi temperaturon.
Comment[es]=Monitor de temperatura.
Comment[fr]=Moniteur de température.
Comment[gl]=Monitor de temperatura.
Comment[hu]=Egy hőmérséklet monitorozó modul.
Comment[it]=Monitor per le temperature.
Comment[pt]=Monitorizador de temperatura
Comment[ru]=Измеряет и показывает температуру системы.
Comment[sr]=Прати топлотне вредности.
Comment[tr]=Sıcaklık izleyici.
Icon=e-module-temperature
X-Enlightenment-ModuleType=system
