[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Notification
Name[ca]=Notificació
Name[cs]=Notifikace
Name[de]=Benachrichtigungen
Name[el]=Ειδοποίηση
Name[eo]=Sciigo
Name[es]=Notificación
Name[fr]=Notification
Name[gl]=Notificación
Name[hu]=Értesítések
Name[pt]=Notificação
Name[ru]=Уведомления
Comment=notification-daemon alternative.<br>Popup if an event occur.
Comment[ca]=Una alternativa a notification-daemon.<br>Mostrarà una finestra emergent si passa alguna cosa.
Comment[cs]=Alternativa k notification-daemon.<br>Zobrazí bublinu při události.
Comment[de]=Alternative zu notification-daemon.<br>Zeigt Benachrichtigungen für Ereignisse an.
Comment[el]=εναλλακτικό του notification-daemon.<br>Εμφανίζεται όταν συμβεί ένα γεγονός.
Comment[eo]=Alternativa al notification-daemon.<br>Avertas ŝprucfenestro kiam okazas evento.
Comment[es]=Una alternativa al notification-daemon.<br>Mostrará una ventana emergente si ocurre un evento.
Comment[fr]=Alternative à notification-daemon.<br>Signale par pop-up l'occurrence d'un événement.
Comment[gl]=Unha alternativa ó notification-daemon.<br>Amosarase unha alerta se ocurre un evento.
Comment[hu]=notification-daemon alternatíva.<br>Egy esemény megtörténtét jelzi.
Comment[it]=Alternativa a notification-daemon.<br>Mostra un popup al verificarsi di un evento.
Comment[pt]=Uma alternativa ao notification-daemon.<br>Mostra alertas sobre eventos.
Comment[ru]=Замена notification-daemon.<br>Показывает окно сообщения если происходит событие.
Icon=e-module-notification
X-Enlightenment-ModuleType=core
