[Desktop Entry]
Type=Link
Name=Illume-Home
Name[zh_CN]=Illume-Home
Icon=icon.png
Comment=Illume-Home profile for embedded systems like phones and web tablets with tiny<br>touchscreen displays.Only use this if you really have such a device.
Comment[fr]=Profil Illume-Home pour les systèmes embarqués comme les téléphones et<br>tablettes Internet pourvus d'un petit écran tactile. À n'utiliser que<br>si vous disposez réellement d'un tel matériel.
Comment[it]=Profilo Illume—Home per sistemi embedded come cellulari e webpad con piccoli display<br>touchscreen. Usatelo solo se avete realmente un dispositivo simile.
Comment[zh_CN]=为带有小型触屏的嵌入式系统如手机和上网本设计的 Illume-Home 设置主题。
Comment[pt]=Perfil Illume-Home para sistemas de telemóveis e tablets com pequenos<br>ecrãs tácteis. Só deve ser utilizado se possuir dispositivos desse tipo
