[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Battery
Name[ca]=Bateria
Name[cs]=Baterie
Name[de]=Batterie
Name[el]=Μπαταρία
Name[eo]=Baterio
Name[es]=Batería
Name[fr]=Batterie
Name[gl]=Batería
Name[hu]=Akkumulátor
Name[pt]=Bateria
Name[ru]=Батарея
Name[tr]=Pil
Comment=A gadget to visualize your battery status.
Comment[ca]=Un mòdul que mostra l'estat de la bateria.
Comment[cs]=Gadget pro zobrazení stavu vaší baterie v notebooku.
Comment[de]=Helfer zum Visualisieren des Batteriezustands
Comment[el]=Συστατικό που σας δείχνει οπτικά την κατάσταση της μπαταρίας σας.
Comment[eo]=Vidigi staton de sia baterio.
Comment[es]=Un módulo para ver el estado de su batería.
Comment[fr]=Visualise l'état de la batterie.
Comment[gl]=Un módulo para ver o estado da súa batería.
Comment[hu]=Nyomon követheted az akkumulátor töltöttségi szintjét.
Comment[it]=Un modulo per visualizzare lo stato della batteria.
Comment[pt]=Permite-lhe visualizar o estado da bateria
Comment[ru]=Гаджет для отображения статуса батареи.
Comment[tr]=Pil durumunu görselleştiren araç.
Icon=e-module-battery
X-Enlightenment-ModuleType=system
