[Desktop Entry]
Type=Link
Name=Touchscreen
Icon=icon.png
Comment=EXPERIMENTAL!<br>Configuration set up to work best with touchscreen<br>phones, tablets and similar devices.
