[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Illume-Bluetooth
Name[eo]=Bludento Illume
Name[fr]=Bluetooth Illume
Icon=e-module-illume-bluetooth
X-Enlightenment-ModuleType=mobile
