body          { margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		margin-bottom:10px;
		color:#0000a0;
		font-size:12pt;
		background-image:url(figures/background.gif);
                background-repeat:no-repeat;
              }

th            {
		font-size:14pt;
              }

td            {
		font-size:12pt;
              }

div.mediaobject { align:center; }
div.caption     { align:center; }
