[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Search Directories
Name[ca]=Directoris de cerca
Name[cs]=Adresáře k hledání
Name[eo]=Dosierujoj de serĉo
Name[es]=Directorios de búsqueda
Name[fr]=Recherche de dossiers
Name[gl]=Directorios de búsqueda
Name[hu]=Könyvtárak
Name[it]=Percorsi di ricerca
Name[pt]=Diretórios de pesquisa
Name[ru]=Каталоги поиска
Name[tr]=Aranacak Dizinler
Comment=Specifies the Enlightenment search paths and default directories.
Comment[ca]=Especifica les rutes de cerca de l'Enlightenment i els directoris predeterminats.
Comment[cs]=Určuje výchozí složky Enlightenment a cesty k hledání témat aj.
Comment[eo]=Difini la vojojn de serĉo de Enlightenment kaj defaŭltajn dosierujojn.
Comment[es]=Especifica las rutas de búsqueda de Enlightenment y los directorios predefinidos.
Comment[fr]=Définit les chemins de recherche et les dossiers par défaut dans Enlightenment.
Comment[gl]=Especifica as rutas de búsqueda de Enlightenment e os directorios predeterminados.
Comment[hu]=Az Enlightenment alapértelmezett rendszerkönyvtárainak a beállítása (képek, modulok, stb.).
Comment[it]=Specifica i percorsi di ricerca e le directory predefinite in Enlightenment.
Comment[pt]=Permite-lhe configurar os diretórios e locais de pesquisa do Enlightenment
Comment[ru]=Позволяет указать стандартные каталоги и пути поиска данных для Е17
Comment[tr]=Enlightenment aranacak yollar ve öntanımlı dizinleri belirtir.
Icon=e-module-conf_paths
X-Enlightenment-ModuleType=settings
