[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Settings Panel
Name[ca]=Panell de control
Name[cs]=Ovládací centrum
Name[de]=Einstellungsleiste
Name[el]=Πάνελ ρυθμίσεων
Name[eo]=Panelo de agordoj
Name[es]=Panel de configuración
Name[fr]=Panneau de contrôle
Name[gl]=Panel de configuración
Name[hu]=Enlightenment Vezérlőpult
Name[it]=Pannello di configurazione
Name[pt]=Painel de definições
Name[ru]=Панель настроек
Name[tr]=Ayarlar Paneli
Comment=General Enlightenment configuration panel.
Comment[ca]=Panell de configuració general de Enlightenment.
Comment[de]=Einstellungen an Enlightenment bequem vornehmen.
Comment[eo]=Ĝenerala panelo de agordado por Enlightenment.
Comment[es]=El panel de configuración general de Enlightenment.
Comment[fr]=Le panneau de configuration générale de Enlightenment.
Comment[gl]=O panel da configuración xeral de Enlightenment.
Comment[it]=Il pannello di configurazione di Enlightenment
Comment[pt]=Painel de definições do Enlightenment
Comment[ru]=Модуль панели настроек Enlightenment.
Icon=e-module-conf
X-Enlightenment-ModuleType=core
