[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Illume-Home
Name[eo]=Illume-Hejmo
Name[fr]=Accueil Illume
Name[sr]=Домаћа додирна
Icon=e-module-illume-home
X-Enlightenment-ModuleType=mobile
