[Desktop Entry]
Type=Link
Name=Computer (Standard Enlightenment)
Name[fr]=Ordinateur (Enlightenment standard)
Name[it]=Computer (Enlightenment standard)
Name[pt]=Computador (Enlightenment padrão)
Icon=icon.png
Comment=Configuration for devices with keyboards and mice<br>like your average PC Desktop, Laptop or Netbook<br>with Enlightenment's traditional keyboard bindings<br>and mouse controls.
Comment[fr]=Configuration pour machines avec clavier et souris<br>comme les PC de bureau et les portables, proposant<br>les raccourcis et contrôles traditionnels.
Comment[it]=Configurazione per macchine con tastiera e mouse,<br>come i normali computer fissi e portatili,<br>con le tradizionali associazioni di tasti e controlli<br>del mouse.
Comment[pt]=Configuração de dispositivos com teclados e ratos<br>como computadores de secretária ou portáteis<br>com as associações de teclado do Enlightenment<br>e os controlos do rato.
