#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_FIXPERMS_EXCLUDE := enlightenment_sys freqset

install/enlightenment::
	mkdir debian/enlightenment/etc
	mv debian/tmp/usr/etc/enlightenment debian/enlightenment/etc/
	find debian/tmp/usr/lib/enlightenment/modules/cpufreq/ -name 'freqset' -exec chmod 4755 {} \;
	chmod 4511 debian/tmp/usr/bin/enlightenment_sys

clean::
	./autogen.sh --prefix=/usr
	
