[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Root
Name[Name]=Root
Name[ab]=
Name[ca]=
Name[cs]=
Name[de]=
Name[el]=
Name[eo]=Radiko
Name[es]=
Name[fr]=Dossier racine
Name[gl]=
Name[hu]=
Name[it]=
Name[ja]=
Name[ko]=
Name[pt]=
Name[ru]=Корневой каталог
Name[sr]=
Name[tr]=
Comment=The Root Filesystem base
Comment[eo]=La radika dosiersistemo
Comment[es]=El sistema de archivos root
Comment[fr]=Le système de fichiers à la base
Comment[gl]=O sistema de ficheiros root
Comment[it]=Il filesystem principale
Comment[pt]=O sistema de ficheiros root
Comment[ru]=Корень файловой системы
Icon=computer
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;
URL=file:/
X-Enlightenment-Type=Mount
