[Desktop Entry]
Type=Link
Name=Root
Name[ca]=Arrel
Name[de]=Basisordner
Name[eo]=Radiko
Name[fi]=Juuri
Name[fr]=Racine
Name[gl]=Raíz
Name[ja]=Root
Name[ms]=Root
Name[pl]=Katalog główny
Name[ru]=Корневой каталог
Name[sr]=Корен
Name[tr]=Kök Dizin
Comment=The Root Filesystem base
Comment[ca]=Directori arrel fitxers
Comment[de]=Die Basis des Wurzeldateisystems
Comment[eo]=La radika dosiersistemo
Comment[es]=El sistema de archivos root
Comment[fi]=Tiedostojärjestelmäpuun juuri
Comment[fr]=Le système de fichiers à la base
Comment[gl]=O sistema de ficheiros root
Comment[it]=Il filesystem principale
Comment[ms]=Asas Sistem Fail Root
Comment[pt]=O sistema de ficheiros root
Comment[ru]=Корень файловой системы
Comment[sr]=Корен, основа свих датотека
Comment[tr]=Kök dosya sistemi tabanı
Icon=computer
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;
URL=file:/
X-Enlightenment-Type=Mount
