[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Temp
Name[Name]=Temp
Name[ab]=
Name[ca]=
Name[cs]=
Name[de]=
Name[el]=
Name[eo]=Dumtempaj
Name[es]=
Name[fr]=Temporaires
Name[gl]=
Name[hu]=
Name[it]=
Name[ja]=
Name[ko]=
Name[pt]=Temporários
Name[ru]=Временный каталог
Name[sr]=
Name[tr]=
Comment=Temporary files
Comment[eo]=Dumtempaj dosieroj
Comment[es]=Archivos temporales
Comment[fr]=Les fichiers temporaires
Comment[gl]=Ficheiros temporais
Comment[it]=File temporanei
Comment[pt]=Ficheiros temporários
Comment[ru]=Временные файлы
Icon=user-temp
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;
URL=file:/tmp
X-Enlightenment-Type=Mount
