[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Everything (Starter)
Name[ca]=Everything (Llançador)
Name[eo]=Ĉio (lanĉilo)
Name[es]=Everything (Lanzador)
Name[fr]=Omni
Name[gl]=Everything (Iniciador)
Name[it]=Everything
Name[pt]=Everything (Lançador)
Name[ru]=Всё (Стартер)
Name[tr]=Everything (Başlatıcı)
Comment=The run command module provides an application launcher dialog.
Comment[ca]=El mòdul d'executar comandes ofereix un diàleg per a llançar aplicacions.
Comment[cs]=Poskytuje dialog pro spuštění aplikací.
Comment[de]=Der Ausführen-Befehl stellt einen Anwendungsstarter zur Verfügung.
Comment[el]=Το άρθρωμα της εκτέλεση εντολής παρέχει ένα παράθυρο διαλόγου εκτέλεσης εφαρμογής.
Comment[eo]=La modulo de lanĉo de komandoj provizas dialogon de lanĉilo de aplikaĵoj.
Comment[es]=El módulo de ejecutar comandos provee un diálogo para ejecutar aplicaciones.
Comment[fr]=Lanceur d'applications et explorateur de fichiers à vocation universelle.
Comment[gl]=O módulo de executar comandos ofrécelle un díalogo para iniciar aplicativos.
Comment[hu]=A parancs futtató modul egy alkalmazásindítót biztosít a számunkra.
Comment[it]=Questo modulo fornisce un pannello per l'esecuzione di comandi e altri compiti.
Comment[pt]=O módulo que disponibiliza uma janela para iniciar aplicações
Comment[ru]=Модуль выполнения команд предоставляющий диалог запуска приложений.
Comment[tr]=Komut çalıştırma modülü uygulamaları başlatmak için diyalog sunar.
Icon=e-module-everything
X-Enlightenment-ModuleType=launcher
