[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=EFM Operation Info
Name[ca]=Informació de les operacions de l'EFM
Name[cs]=EFM Informace o operaci
Name[de]=EFM-Operationsinfo
Name[eo]=Informo de operacioj en EDA
Name[es]=Información de las operaciones de EFM
Name[fr]=Informations EFM
Name[gl]=Información das operacións de EFM
Name[it]=Informazioni operazioni EFM
Name[pt]=Informação das operações do EFM
Name[ru]=Информация о работе EFM
Name[tr]=EFM İşlem Bilgisi
Comment=Can be placed on the desktop or in a shelf.
Comment[ca]=Es pot col·locar a l'escriptori o en un panell.
Comment[cs]=Může být na ploše nebo v panelu.
Comment[de]=Kann auf dem Desktop oder in einer Modulablage plaziert werden.
Comment[eo]=Enmetebla sur la labortablon aŭ en breton.
Comment[es]=Se puede colocar en el escritorio o en un cotenedor.
Comment[fr]=Peut être placé sur le bureau ou dans un rack.
Comment[gl]=Pódese colocar no escritorio ou nun panel.
Comment[it]=Può essere messo sul desktop o su una mensola.
Comment[pt]=Pode ser colocado na área de trabalho ou no painel
Comment[ru]=Можно разместить на столе или в полке.
Comment[tr]=Masaüstüne ya da rafa yerleşebilir.
Icon=e-module-fileman_opinfo
X-Enlightenment-ModuleType=files
