[Desktop Entry]
Type=Link
Name=Desktop
Name[ca]=Escriptori
Name[da]=Skrivebord
Name[de]=Schreibtisch
Name[el]=Επιφάνεια Εργασίας
Name[eo]=Labortablo
Name[es]=Escritorio
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[gl]=Escritorio
Name[ja]=デスクトップ
Name[lt]=Darbastalis
Name[ms]=Dekstop
Name[pl]=Pulpit
Name[pt]=Área de trabalho
Name[ru]=Рабочий стол
Name[sr]=Радна површ
Name[tr]=Masaüstü
Comment=Files on your Desktop
Comment[ca]=Fitxers a l'escriptori
Comment[da]=Filer på dit skrivebord
Comment[de]=Dateien auf dem Schreibtisch
Comment[eo]=Dosieroj sur via labortablo
Comment[es]=Los archivos en su escritorio
Comment[fi]=Tiedostot työpöydälläsi
Comment[fr]=Les fichiers sur votre bureau
Comment[gl]=Os ficheiros no seu escritorio
Comment[it]=I file sul vostro desktop
Comment[lt]=Failai jūsų darbastalyje
Comment[ms]=Fail dalam Dekstop anda
Comment[pl]=Pliki na Twoim pulpicie
Comment[pt]=Os ficheiros da área de trabalho
Comment[ru]=Файлы на рабочем столе
Comment[sr]=Датотеке радне површи
Comment[tr]=Masaüstünüzde dosyalar
Icon=user-desktop
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;
URL=file:$XDG_DESKTOP_DIR
X-Enlightenment-Type=Mount
