[Desktop Entry]
Encoding=UTF-8
Name=Home
Comment=The Directory containing all your personal files
Comment[it]=La directory contenente i vostri file personali
Comment[fr]=Le dossier contenant vos fichiers personnels
Type=Link
X-Enlightenment-Type=Mount
URL=file:$HOME
Icon=user-home
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;
