[Desktop Entry]
Name=Root
Name[eo]=Radiko
Name[ru]=Корневой каталог
Comment=The Root Filesystem base
Comment[eo]=La radika dosiersistemo
Comment[es]=El sistema de archivos root
Comment[fr]=Le système de fichiers à la base
Comment[gl]=O sistema de ficheiros root
Comment[it]=Il filesystem principale
Comment[pt]=O sistema de ficheiros root
Comment[ru]=Корень файловой системы
Type=Link
X-Enlightenment-Type=Mount
URL=file:/
Icon=computer
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;
