[Desktop Entry]
Name=Root
Comment=The Root Filesystem base
Comment[es]=El sistema de archivos root
Comment[fr]=Le système de fichiers à la base
Comment[gl]=O sistema de ficheiros root
Comment[it]=Il filesystem principale
Comment[pt]=O sistema de ficheiros root
Type=Link
X-Enlightenment-Type=Mount
URL=file:/
Icon=computer
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;
