[Desktop Entry]
Encoding=UTF-8
Name=Temp
Name[pt]=Temporários
Comment=Temporary files
Comment[it]=File temporanei
Comment[fr]=Les fichiers temporaires
Comment[pt]=Ficheiros temporários
Type=Link
X-Enlightenment-Type=Mount
URL=file:/tmp
Icon=user-temp
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;
