[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Shelves
Name[ca]=Panells
Name[cs]=Panely
Name[eo]=Bretoj
Name[es]=Contenedores
Name[fr]=Racks
Name[gl]=Paneis
Name[hu]=Polcok
Name[it]=Mensole
Name[pt]=Painéis
Name[ru]=Полки
Name[tr]=Raflar
Comment=Shelf configuration dialog.
Comment[ca]=Interfície de configuració dels panells.
Comment[cs]=Dialog nastavení panelů.
Comment[eo]=Dialogo de agordo de bretoj.
Comment[es]=Diálogo de configuración del contenedor.
Comment[fr]=Interface de configuration du rack.
Comment[gl]=Diálogo de configuración do panel.
Comment[hu]=Ezzel a modullal a polcok beállításait tudod elvégezni.
Comment[it]=Interfaccia per la configurazione delle mensole portamoduli.
Comment[pt]=Diálogo para configurar os painéis
Comment[ru]=Диалог конфигурации полки.
Comment[tr]=Raf yapılandırma diyaloğu.
Icon=e-module-conf_shelves
X-Enlightenment-ModuleType=settings
