[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Dialogs
Name[ca]=Diàlegs
Name[cs]=Dialogy
Name[eo]=Dialogoj
Name[es]=Diálogos
Name[fr]=Boîtes de dialogue
Name[gl]=Diálogos
Name[hu]=Párbeszédablakok
Name[it]=Finestre di dialogo
Name[pt]=Diálogos
Name[ru]=Диалоги
Name[tr]=Diyaloglar
Comment=Configure default dialog properties.
Comment[ca]=Configuració de les propietats predefinides dels diàlegs.
Comment[cs]=Volby výchozích vlastností dialogů.
Comment[eo]=Agordi la defaŭltajn ecojn de dialogoj.
Comment[es]=Configura las propiedades predefinidas de los diálogos.
Comment[fr]=Configure les propriétés par défaut des boîtes de dialogue.
Comment[gl]=Configure as propiedades predefinidas dos diálogos.
Comment[hu]=Alapértelmezett bárbeszédablak beállítások.
Comment[it]=Configura le proprietà predefinite per le finestre di dialogo.
Comment[pt]=Permite-lhe configurar as propriedades dos diálogos
Comment[ru]=Настройка стандартных параметров диалогов.
Comment[tr]=Öntanımlı pencere özelliklerini yapılandırır.
Icon=e-module-conf_dialogs
X-Enlightenment-ModuleType=settings
