[Desktop Entry]
Type=Link
Name=Wayland Drm
Name[eo]=Mastrumado de ciferecaj rajtoj   de Wayland
Name[fr]=Gestion des droits numériques Wayland
Name[pt]=Gestão de direitos digitais do Wayland
Comment=Moksha DRM Composite Manager
Comment[ca]=Administrador de composició DRM de l'Moksha
Comment[eo]=Administrilo de kunmetaĵo Moksha DRM
Comment[es]=Administrador de composición DRM de Moksha
Comment[fr]=Gestionnaire Composite avec DRM de Moksha
Comment[gl]=Xestor de composición DRM de Moksha
Comment[it]=Composite manager DRM di Moksha
Comment[pt]=Gestor de composição DRM do Moksha
Icon=e-module-wl_drm
X-Enlightenment-ModuleType=look
