[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Language
Name[ca]=Idioma
Name[cs]=Jazyk
Name[eo]=Lingvo
Name[es]=Idioma
Name[fr]=Langue
Name[gl]=Idioma
Name[hu]=Nyelv
Name[it]=Lingua
Name[pt]=Idioma
Name[ru]=Язык
Name[sr]=Језик
Name[tr]=Dil
Comment=Used to select a default language.
Comment[ca]=Permet seleccionar l'idioma predeterminat.
Comment[cs]=Použit pro výběr výchozího jazyka.
Comment[eo]=Elekti propran lingvon.
Comment[es]=Usado para elegir el idioma predeterminado.
Comment[fr]=Permet de choisir la langue par défaut.
Comment[gl]=Usado para elexir o idioma predeterminado.
Comment[hu]=Alapértelmezett nyelv kiválasztása.
Comment[it]=Usato per selezionare una lingua predefinita.
Comment[pt]=Permite-lhe escolher o idioma do sistema
Comment[ru]=Используется для выбора языка системы по умолчанию.
Comment[sr]=Користи се за избор подразумеваног језика.
Comment[tr]=Öntanımlı dil seçmek için kullanılır.
Icon=preferences-desktop-locale
X-Enlightenment-ModuleType=settings
