[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Applications
Name[ca]=Aplicacions
Name[cs]=Aplikace
Name[el]=Εφαρμογές
Name[eo]=Aplikaĵoj
Name[es]=Aplicaciones
Name[fr]=Applications
Name[gl]=Aplicativos
Name[hu]=Alkalmazások
Name[it]=Applicazioni
Name[pt]=Aplicações
Name[ru]=Приложения
Name[tr]=Uygulamalar
Comment=Allows configuration of Ibar, Restart, and Startup applications.
Comment[ca]=Permet configurar les aplicacions per a iniciar i reiniciar tasques, així com la barra Ibar.
Comment[cs]=Umožňuje nastavit iBar spouštěče, aplikace při restartu a aplikace při startu.
Comment[el]=Σας επιτρέπει να ρυθμίσετε τις εφαρμογές Ibar, Restart, και Startup.
Comment[eo]=Agordi la breton IBar, restartigajn kaj startigajn aplikaĵojn.
Comment[es]=Permite configurar la IBar, reiniciar, e iniciar aplicaciones.
Comment[fr]=Concerne les applications dans l'IBar, celles à démarrer, à redémarrer, et la création d'applications.
Comment[gl]=Permítelle configurar os aplicativos de inicio, reinicio e a barra Ibar.
Comment[hu]=Itt beállíthatod az ibar, újraindítandó, automatikusan induló alkalmazásokat.
Comment[it]=Consente la configurazione delle applicazioni per l'avvio, il riavvio e la barra Ibar.
Comment[pt]=Permite-lhe configurar as aplicações Ibar, Reiniciar e Arranque
Comment[ru]=Позволяет настройку приложений для Ibar, Перезапуск и Стартовые.
Comment[tr]=IBar, Açılış ve Yeniden Başlat uygulamalarının yapılandırılmasına izin verir.
Icon=e-module-conf_applications
X-Enlightenment-ModuleType=settings
