[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Performance
Name[ca]=Rendiment
Name[cs]=Výkon
Name[eo]=Rendimento
Name[es]=Rendimiento
Name[fr]=Performance
Name[gl]=Rendemento
Name[hu]=Teljesítmény
Name[it]=Prestazioni
Name[pt]=Desempenho
Name[ru]=Быстродействие
Name[sr]=Учинковитост
Name[tr]=Performans
Comment=Used to configure certain performance related items as frame rates and cache settings.
Comment[ca]=Per a configurar certes característiques de rendiment, com ara quadres per segon o paràmetres de memòria cau.
Comment[cs]=Použit k nastavení framerate, cache aj.
Comment[eo]=Agordi kelkajn erojn pri rendimento kiel kadrajn oftecojn kaj kaŝmemorajn agordojn.
Comment[es]=Usado para configurar ciertos elementos de rendimiento como opciones de caché y cuadros por segundo.
Comment[fr]=Permet de configurer certains paramètres influant sur la performance, comme le taux de rafraîssement et les tampons.
Comment[gl]=Usado para configurar certos elementos do rendemento como opcións de caché e taxa de cadros.
Comment[hu]=Az Enlightenment teljesítményének beállítása (fps, átmeneti tárolók mérete, ürítési idõközök).
Comment[it]=Usato per configurare alcune proprietà correlate alle prestazioni come velocità frame e cache.
Comment[pt]=Permite-lhe configurar alguns itens relacionados com o desempenho do computador
Comment[ru]=Используется для конфигурации быстродействия, типа частоты кадров и настроек кэширования.
Comment[sr]=Користи се за подешавање одређених ставки везаних за брзину извршавања, учесталост освежавања приказа и поставке прихватне меморије.
Comment[tr]=Kare oranı ve önbellek ayarları gibi performans ile ilgili öğeleri yapılandırır.
Icon=e-module-conf_performance
X-Enlightenment-ModuleType=settings
