[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Illume-Keyboard-Toggle
Name[eo]=Baskulo de klavaro Illume
Name[fr]=Bascule clavier Illume
Icon=e-module-illume-kbd-toggle
X-Enlightenment-ModuleType=mobile
